<unl-progress indeterminate ng-hide="members.length > 0" class="animate-fade"></unl-progress>
<unl-list-group horizontal layout wrap gutters>
	<div three ng-repeat="member in members | orderBy:'last_name'">
		<unl-list-item-boxed class="animate-fade-in" class="animate-fade-left" image="{{ member.profile_image }}" heading="{{ member.first_name ? member.first_name +' '+ member.last_name : member }}" image="{{asset.icon_url}}" detail="{{memberStatus[member.uni_auth] || 'Out'}}"  link>
			<a ng-click="selectUser(member);go('/{{groupId}}/kiosk/signin', 'animate-slide-right')" title="Select this person"><paper-ripple fit></paper-ripple></a>
		</unl-list-item-boxed>
	</div>
</unl-list-group>