<div horizontal layout around-justified>
	<div four>
		<div class="icon-header">
			<h2 class="align-center">Sign In <span class="subhead">Enter your NUID below</span></h2>
		</div>
		<unl-progress indeterminate ng-show="loadingContent" class="animate-fade margin-bottom"></unl-progress>
		<form name="boardSigninForm">
			<unl-input floatingLabel label="Enter your NUID">
				<input is="core-input" autofocus required ng-model="kioskNuid" type="password" pattern="[0-9]*" name="kiosk-nuid">
			</unl-input>
			<button ng-hide="authUser" class="button-block animate-fade-right margin-top" ng-click="validateAndGet(kioskNuid)" ng-disabled="boardSigninForm.kiosk-nuid.$invalid">Sign In</button>
			<div ng-show="authUser" class="animate-fade-left">
				<unl-input floatingLabel label="Name">
					<input is="core-input" value="{{authUser.first_name}} {{authUser.last_name}}" type="text" name="kiosk-name">
				</unl-input>
				<unl-input floatingLabel label="Email">
					<input is="core-input" value="{{authUser.email}}" type="email" name="kiosk-email">
				</unl-input>
				<button class="button-block margin-top" ng-disabled="boardSigninForm.$invalid" ng-click="go('^.message', {groupId:groupId})">Continue to messaging {{selectedUser.first_name}}</button>
			</div>
		</form>
	</div>
</div>