<unl-toolbar>
	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  	<span flex class="align-center">Locations</span>
  	<a ng-click="go('^.new_location', {groupId:groupId})" ng-show="groupId" title="Create New Location"><unl-icon-button icon="add"></unl-icon-button></a>
  	<a ng-click="go('unl-layout-kiosk.kiosk.people', {groupId:groupId})" title="Enter Kiosk Mode"><unl-icon-button icon="fullscreen"></unl-icon-button></a>
</unl-toolbar>
<div class="content-container" ng-show="groupId" flex>
	<unl-empty-content fit ng-hide="locations.length > 0" text="No locations yet">
		<span subhead>Add your first location by hitting <core-icon icon="add"></core-icon> above</span>
	</unl-empty-content>
	<unl-list-group ng-show="locations.length > 0">
		<unl-list-item-details link heading="{{location.title}}" ng-repeat="location in locations">
			<a ng-click="go('^.location', {groupId:groupId,locationId:location.$id})"><paper-ripple fit></paper-ripple></a>
		</unl-list-item-details>
	</unl-list-group>
</div>