<unl-toolbar>
	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  	<span flex class="align-center">{{ groupId ? group.title : 'Groups'}}</span>
  	<a ng-click="go('/{{groupId}}/location/new')" ng-show="groupId" title="Create New Location"><unl-icon-button icon="add"></unl-icon-button></a>
  	<a ng-click="go('/{{groupId}}/kiosk/people')" ng-show="groupId" title="Enter Kiosk Mode"><unl-icon-button icon="fullscreen"></unl-icon-button></a>
</unl-toolbar>
<div class="content-container" ng-hide="groupId" flex>
	<unl-list-group>
		<unl-list-item-details class="animate-fade-left" ng-repeat="group in currentUser.groups | orderBy:'title'" heading="{{group.title}}" link>
			<a ng-href="/{{group.id}}"><paper-ripple fit></paper-ripple></a>
		</unl-list-item-details>
	</unl-list-group>
</div>
<div class="content-container" ng-show="groupId" flex vertical layout>
	<unl-list-group>
		<unl-list-item-header>Group Settings</unl-list-item-header>
		<unl-list-item-details heading="Proximity UUID">
			<div class="tools">
				<input required type="text" name="group-proximity_uuid" ng-model="group.proximity_uuid">
			</div>
		</unl-list-item-details>
		<unl-list-item-header ng-show="locations.length > 0">Locations</unl-list-item-header>
		<unl-list-item-details link heading="{{location.title}}" ng-repeat="location in locations">
			<a ng-click="go('/{{groupId}}/location/{{location.$id}}')"><paper-ripple fit></paper-ripple></a>
		</unl-list-item-details>
	</unl-list-group>
	<unl-empty-content flex ng-hide="locations.length > 0" text="No locations yet">
		<span subhead>Add your first location by hitting <core-icon icon="add"></core-icon> above</span>
	</unl-empty-content>
</div>